.company-product {
    padding: 100px 0;

    @include media(992) {
        padding: 80px 0;
    }

    &__head {
        margin: 60px 0 80px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 40px;

        @include media(992) {
            flex-direction: column;
            align-items: flex-start;
            margin: 40px 0 60px;
        }

        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            max-width: 780px;
            width: 100%;
        }

        .btn-light {
            flex-shrink: 0;

            @include media(576) {
                width: 100%;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-item {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px 22px;

            @include media(992) {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        &-text {
            border-radius: 40px;
            background: $color-bg-grey;
            padding: 60px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 60px;
            
            @include media(992) {
                order: 1;
                padding: 30px 30px 40px;
                gap: 40px;
            }

            .logo {
                width: 100px;

                @include media(992) {
                    width: 86px;
                }
            }

            .text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 40px;

                @include media(992) {
                    gap: 30px;
                    max-width: 100%;
                    width: 100%;
                }
            }

            h3 {
                font-weight: 500;
                font-size: 30px;
                color: $color-main-blue;
                margin: -8px 0;
                max-width: 419px;
                width: 100%;

                @include media(992) {
                    font-size: 20px;
                    margin: -5.5px 0;
                }
            }

            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 160%;
                color: $color-main-blue;
                max-width: 251px;
                width: 100%;
                margin: -6px 0;
            }
        }

        &-img {
            position: relative;
            min-height: 500px;
            border-radius: 40px;
            overflow: hidden;

            @include media(992) {
                order: 2;
                height: 246px;
                min-height: inherit;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}