.contact {
    padding-bottom: 100px;

    @include media(992) {
        padding-bottom: 80px;
    }

    &-head {
        display: flex;
        align-items: flex-start;
        gap: 20px;

        @include media(576) {
            flex-direction: column;
            gap: 40px;
        }

        &__left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            max-width: 325px;
            width: 100%;

            @include media(576) {
                max-width: 100%;
            }

            p {
                margin: -6px 0;
                font-weight: 400;
                font-size: 14px;
                line-height: 160%;
                max-width: 302px;
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .networks {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }

            a {
                font-weight: 400;
                font-size: 14px;
                line-height: 10px;
            }
        }
    }

    &-foot {
        max-width: 582px;
        width: 100%;

        &__content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 112px;
            
            @include media(576) {
                gap: 40px;
                grid-template-columns: repeat(1, 1fr);
            }

            &-item {
                h3 {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 10px;
                    margin-bottom: 30px;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }

                li {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                b {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 10px;
                    width: 95px;
                    flex-shrink: 0;
                }

                span {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 10px;
                    width: 100%;
                }
            }
        }
    }

    &-content {
        margin: 80px 0;
        display: flex;
        align-items: flex-start;
        gap: 223px;

        @include media(1300) {
            gap: 30px;
            justify-content: space-between;
        }

        @include media(1050) {
            flex-direction: column;
            margin: 60px 0;
        }

        @include media(576) {
            gap: 40px;
        }

        label {
            font-weight: 600;
            font-size: 14px;
            line-height: 10px;
            text-transform: uppercase;
            color: $color-text-lightgrey;
            margin-bottom: 20px;
        }

        &__left {
            max-width: 582px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 40px;
        }

        &__right {
            max-width: 440px;
            width: 100%;

            ul {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            li {
                margin: -6px 0;
                font-weight: 400;
                font-size: 14px;
                line-height: 160%;

                b {
                    font-weight: 500;
                }
            }
        }
    }

    &-map {
        height: 680px;
        width: 100%;
        border-radius: 40px;
        overflow: hidden;
        position: relative;

        @include media(992) {
            height: 380px;
        }

        iframe {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}