.contact-us {
    padding: 100px 0;

    @include media(992) {
        padding: 80px 0;
    }

    &__container {
        border-radius: 40px;
        overflow: hidden;
        min-height: 550px;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        padding-left: 690px;

        @include media(1200) {
            padding-left: 450px;
        }

        @include media(992) {
            padding: 60px 30px 336px;
            border-radius: 30px;
        }
    }

    .bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }

    .card-img {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        object-fit: cover;

        @include media(1200) {
            width: 500px;
        }

        @include media(576) {
            display: block;
            width: 440px;
            min-width: 440px;
        }

        &.sm {
            display: none;

            @include media(576) {
                display: block;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
        max-width: 383px;
        width: 100%;

        @include media(992) {
            max-width: 100%;
        }
    }

    &__head {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    h2 {
        font-weight: 500;
        font-size: 30px;
        color: $color-bg-white-1000;
        margin: -8px 0;

        @include media(992) {
            font-size: 20px;
            margin: -6px 0;
        }
    }

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        color: $color-bg-white-1000;
        margin: -6px 0;
    }
}