.faq {
    padding: 100px 0;

    @include media(992) {
        padding: 80px 0;
    }

    &-head {
        margin: 60px 0 80px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 40px;

        @include media(992) {
            flex-direction: column;
            align-items: flex-start;
            margin: 40px 0 60px;
        }

        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            width: 100%;
            max-width: 747px;
        }

        .btn-blue {
            flex-shrink: 0;

            @include media(576) {
                width: 100%;
            }
        }
    }

    .btn-light {
        display: inline-flex;
        margin-top: 80px;

        @include media(992) {
            margin-top: 60px;
        }
    }
}