// Header
.header {
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background: $color-bg-white-1000;

    @include media(1210) {
        padding: 10px 0;
    }

    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &-left {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &-logo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        font-weight: 600;
        font-size: 9px;
        text-align: center;
        color: $color-main-blue;
        padding-right: 20px;
        border-right: 0.2px solid $color-text-grey;

        @include media(1210) {
            gap: 5px;
            font-size: 6px;
            padding-right: 15px;
        }

        img {
            width: 85px;
            flex-shrink: 0;

            @include media(1210) {
                width: 56px;
            }
        }
    }

    &-nav {
        display: flex;
        align-items: center;
        gap: 20px;
        position: relative;

        @include media(1210) {
            display: none;
        }

        &__link {
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            color: $color-text-black;
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    &-right {
        display: flex;
        align-items: center;
        gap: 10px;

        @include media(1210) {
            gap: 15px;
        }

        .btn-light {
            @include media(1210) {
                display: none;
            }
        }

        .bars {
            display: none;
            align-items: center;
            justify-content: center;

            @include media(1210) {
                display: flex;
            }

            img:nth-child(2) {
                display: none;
            }

            &.active img {
                display: none;

                &:nth-child(2) {
                    display: block;
                }
            }
        }
    }
    
    &-text {
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

        @include media(1210) {
            padding-right: 0;
        }

        a, p {
            font-weight: 400;
            font-size: 14px;
            line-height: 10px;
            color: $color-text-black;
        }

        p:first-child {
            @include media(1210) {
                display: none;
            }
        }

        p {
            @include media(1210) {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-align: left;
            }
        }

        .email-link {
            text-decoration: underline;
            text-decoration-skip-ink: none;
        }
    }

    &-catalog {
        position: absolute;
        left: 0;
        bottom: -25px;
        transform: translateY(100%);
        box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05), 2px 0 15px 0 rgba(0, 0, 0, 0.05);
        background: $color-bg-white-1000;
        border-radius: 20px;
        padding: 20px 15px 30px 20px;
        width: 662px;
        display: none;
        align-items: flex-start;
        gap: 20px;

        &.active {
            display: flex;
        }

        &__left {
            width: 282px;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &__link {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 40px;
            padding: 5px 20px 5px 5px;
            cursor: pointer;
            user-select: none;
            border-radius: 10px;
            transition: .2s ease-in-out;

            &:hover, &.active {
                background: $color-bg-grey;
            }

            &-left {
                display: flex;
                align-items: center;
                gap: 15px;

                .main-img {
                    flex-shrink: 0;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 5px;
                }

                h3 {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 10px;
                }

                span {
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 7px;
                    color: $color-text-grey;
                }
            }
        }

        &__content {
            width: 100%;
            
            &-item {
                max-height: 340px;
                overflow-y: scroll;
                padding-right: 20px;
                width: 100%;
    
                &:not(.active) {
                    display: none !important;
                }
                
                &::-webkit-scrollbar {
                    width: 4px;
                }
    
                &::-webkit-scrollbar-track {
                    background: $color-bg-grey;
                    border-radius: 10px;
                }
                
                &::-webkit-scrollbar-thumb {
                    border-radius: 4px;
                    background: $color-main-blue;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            li {
                width: 100%;
                display: flex;
            }

            a {
                display: block;
                width: 100%;
                font-weight: 500;
                font-size: 14px;
                line-height: 10px;
                padding: 15px 20px;
                border-radius: 10px;
                transition: .2s ease-in-out all;

                &:hover {
                    background: $color-bg-grey;
                }
            }
        }
    }
}
// Header end

// Menu
.menu {
    position: fixed;
    top: 77px;
    left: 0;
    width: 100%;
    height: calc(100svh - 77px);
    background: $color-bg-white-1000;
    z-index: 2;
    padding: 40px 15px;
    overflow-y: scroll;
    display: none;

    @include media(1210) {
        &.active {
            display: block;
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &-navs {
        display: flex;
        flex-direction: column;
        width: 100%;

        &.hidden {
            display: none;
        }

        &__link {
            width: 100%;
            display: flex;
            align-items: center;
            height: 50px;
            padding: 0 15px;
            font-weight: 500;
            font-size: 16px;
            transition: .2s ease-in-out all;
            border-radius: 10px;

            &:hover {
                background: $color-bg-grey;
            }
        }
    }

    &-catalog {
        &__btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 50px;
            border-radius: 10px;
            padding: 0 15px;
            text-align: left;

            &:hover {
                background: $color-bg-grey;
            }

            &.active {
                background: $color-main-blue;
                flex-direction: row-reverse;
                justify-content: flex-end;
                gap: 20px;
                margin-bottom: 10px;

                span {
                    color: $color-bg-white-1000;
                }

                img {
                    filter: brightness(0) invert(1)
                }

                .icon {
                    transform: rotateZ(180deg);
                }
            }

            &.hidden {
                display: none;
            }

            img {
                flex-shrink: 0;
            }

            span {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 500;
                font-size: 16px;
                text-align: center;
                color: $color-main-blue;
            }
        }
    }

    &-catalog {
        display: none;

        &.active {
            display: block;
        }

        &.hidden {
            display: block;

            li:not(.active) {
                display: none;
            }
        }

        li {
            display: flex;
            align-items: center;
            position: relative;
            padding: 10px 15px;
            cursor: pointer;
            user-select: none;
            display: flex;
            align-items: center;
            gap: 15px;
            border-radius: 8px;

            &:hover {
                background: $color-bg-grey;

                .icon {
                    display: block;
                }
            }

            &.active {
                margin-bottom: 10px;
                background: $color-main-blue;
                padding: 10px 10px 10px 48px;

                .icon {
                    left: 15px;
                    right: auto;
                    filter: brightness(0) invert(1);
                    transform: translateY(-50%) rotateZ(180deg);
                    display: block;
                }

                b, span {
                    color: $color-bg-white-1000;
                }
            }

            img:not(.icon) {
                flex-shrink: 0;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }

            .icon {
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                display: none;
            }

            .text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;
            }

            b {
                font-weight: 500;
                font-size: 14px;
                line-height: 10px;
            }

            span {
                font-weight: 400;
                font-size: 10px;
                line-height: 7px;
                color: $color-text-grey;
            }
        }

        &__content {
            display: none;

            &.active {
                display: block;
            }

            &-item {
                &:not(.active) {
                    display: none;
                }

                a {
                    font-weight: 500;
                    font-size: 14px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    padding: 0 15px;
                    border-radius: 8px;

                    &:hover {
                        background: $color-bg-grey;
                    }
                }
            }
        }
    }

    .btn-light {
        margin: 80px 0 40px;
    }

    &-bottom {
        display: flex;
        flex-direction: column;
        gap: 30px;

        &__item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;

            label {
                font-weight: 600;
                font-size: 12px;
                line-height: 8px;
                text-transform: uppercase;
                color: $color-text-lightgrey;
            }

            p {
                font-weight: 500;
                font-size: 14px;
                text-transform: uppercase;
                margin: -4px 0;
            }

            a {
                font-weight: 500;
                font-size: 14px;
                line-height: 10px;
                text-transform: uppercase;
            }
        }
    }
}
// Menu end