.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: none;

    &.active {
        display: block;
    }

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(17, 45, 85, 0.8);
    }

    &-dialog {
        max-height: 100svh;
        width: 100%;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include media(992) {
            width: 100%;
        }
    }

    &-close {
        position: absolute;
        position: absolute;
        top: 40px;
        right: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;

        @include media(992) {
            top: 20px;
            right: 15px;

            img {
                width: 20px;
            }
        }
    }

    &-content {
        max-width: 825px;
        width: 100%;
        padding: 40px 40px 100px;
        position: relative;
        z-index: 2;
        min-height: 100svh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 60px;

        @include media(992) {
            max-width: 100%;
            padding: 89px 15px;
            justify-content: flex-start;
            gap: 133px;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100%;
            background: $color-bg-white-1000;
            z-index: -1;
        }

        &__head {
            display: flex;
            flex-direction: column;
            gap: 60px;
            max-width: 540px;
            width: 100%;

            @include media(992) {
                gap: 40px;
                max-width: 100%;
            }
        }

        h2 {
            font-weight: 500;
            font-size: 40px;
            color: $color-text-black;
            margin: -10px 0;

            @include media(992) {
                font-size: 30px;
            }
        }

        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            margin: -6px 0;
        }

        &__foot {
            width: 100%;
        }
        
        .networks {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            margin-bottom: 60px;

            @include media(576) {
                gap: 10px;
                grid-template-columns: repeat(2, 1fr);
            }

            a {
                @include media(576) {
                    &:nth-child(3) {
                        grid-column: span 2;
                    }
                }
            }
        }

        .links {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;

            @include media(992) {
                gap: 20px;
            }

            a {
                font-weight: 400;
                font-size: 60px;
                line-height: 42px;
                color: $color-main-blue;

                @include media(992) {
                    font-size: 40px;
                    line-height: 28px;
                }
            }
        }
    }
}