// payment-delivery
.payment_delivery {
  &_head {
    margin-bottom: 80px;

    @include media(992) {
      margin-bottom: 60px;
    }

    p {
      margin-top: 60px;
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      color: $color-text-black;
      max-width: 780px;

      @include media(992) {
        font-size: 14px;
        margin-top: 40px;
      }
    }
  }

  &_text {
    display: flex;
    flex-direction: column;
    gap: 60px;
    max-width: 1244px;

    @include media(992) {
      gap: 40px;
    }

    &-block {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .working_hours {
      display: flex;
      flex-direction: column;
      padding-left: 0;
      gap: 5px;

      li {
        display: flex;
        align-items: center;
        gap: 10px;

        b,span {
          width: 95px;
          color: $color-text-black;
          font-family: Onest;
          font-weight: 500;
          font-size: 14px;
          line-height: 100%;
        }

        span {
          font-weight: 400;
        }
      }
    }

    .end_text {
      gap: 10px;
    }

    h3 {
      font-weight: 500;
      font-size: 30px;
      line-height: 100%;
      color: $color-text-black;
      margin-bottom: 20px;

      @include media(992) {
        font-size: 20px;
      }
    }

    b {
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      color: $color-text-black;
    }

    p,li,a {
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      color: $color-text-black;
    }

    a {
      font-weight: 600;
      color: $color-red;
    }

    ul {
      display: flex;
      flex-direction: column;
      padding-left: 15px;

      li {
        list-style-type: decimal;
      }
    }
  }

  &_banner {
    min-height: 276px;
    border-radius: 30px;
    background: $color-bg-grey;
    position: relative;
    margin-bottom: 80px;

    @include media(992) {
      min-height: 310px;
      overflow: hidden;
    }

    &_text {
      position: relative;
      min-height: 276px;
      overflow: hidden;

      @include media(992) {
        min-height: 310px;
      }
    }

    // &.two {
    //   overflow: hidden;
    // }

    &.three {
      overflow: hidden;
    }

    .circle {
      position: absolute;
      right: 26px;
      bottom: 10px;
      background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.5) 0%, rgba(14, 36, 49, 0) 100%);
      // z-index: 2;
      width: 618px;
      height: 64px;
      transform: rotate(-3deg);

      @include media(992) {
        bottom: 6px;
        left: 10px;
      }
    }

    h3 {
      position: absolute;
      font-weight: 500;
      font-size: 400px;
      line-height: 100%;
      text-align: center;
      color: $color-bg-white-1000;
      height: 283px;

      @include media(992) {
        font-size: 180px;
        height: 176px;
        width: 633px;
      }

      &.one {
        left: 73px;
        bottom: -41px;

        @include media(992) {
          left: -105px;
          top: 0;
          bottom: auto;
        }
      }
    }

    img.one {
      position: absolute;
      right: 13px;
      bottom: -40px;
      width: 732px;
      height: auto;
      z-index: 2;

      @include media(992) {
        bottom: 17px;
        width: 399px;
        min-width: 399px;
        height: 246px;
        right: auto;
        left: 0;
      }
    }

    img.two {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 461px;
      height: 320px;
      z-index: 2;
      drop-shadow: -4px 5px 14px 0px rgba(0, 0, 0, 0.1),
      -16px 18px 25px 0px rgba(0, 0, 0, 0.09),
      -37px 41px 33px 0px rgba(0, 0, 0, 0.05),
      -65px 74px 39px 0px rgba(0, 0, 0, 0.01),
      -102px 115px 43px 0px rgba(0, 0, 0, 0);

      @include media(992) {
        width: 261px;
        height: 181px;
        bottom: 0;
        top: auto;
        left: 0;
      }
    }

    img.three {
      position: absolute;
      right: 0;
      top: 0;
      width: 258px;
      height: 276px;
      z-index: 2;
      drop-shadow: -4px 5px 14px 0px rgba(0, 0, 0, 0.1),
      -16px 18px 25px 0px rgba(0, 0, 0, 0.09),
      -37px 41px 33px 0px rgba(0, 0, 0, 0.05),
      -65px 74px 39px 0px rgba(0, 0, 0, 0.01),
      -102px 115px 43px 0px rgba(0, 0, 0, 0);

      @include media(992) {
        width: 225px;
        height: 242px;
        bottom: -20px;
        top: auto;
        transform: rotate(90deg);
      }
    }
  }
}

.tabs {
  margin-bottom: 100px;

  @include media(992) {
    margin-bottom: 80px;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
    position: relative;
    z-index: 3;
  }

  &__btn {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: $color-main-blue;
    cursor: pointer;
    transition: 0.25s ease;
    height: 50px;
    border-radius: 10px;
    background: $color-bg-grey;
    padding: 10px 20px;

    &.is-active {
      color: $color-bg-white-1000;
      background: $color-main-blue;
    }

    @include media(992) {
      flex: 1 1 calc(50% - 5px);
    }

    &-full {
      @include media(992) {
        flex: 1 1 100%;
      }
    }
  }

  &__panel {
    display: none;
    animation: fade 0.25s ease;

    &.is-active {
      display: block;
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// payment-delivery
