// payment-delivery
.payment_delivery {
  &_head {
    margin-bottom: 80px;

    @include media(992) {
      margin-bottom: 60px;
    }

    p {
      margin-top: 60px;
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      color: $color-text-black;
      max-width: 780px;

      @include media(992) {
        font-size: 14px;
        margin-top: 40px;
      }
    }
  }
}

.tabs {

  &__nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
  }

  &__btn {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: $color-main-blue;
    cursor: pointer;
    transition: 0.25s ease;
    height: 50px;
    border-radius: 10px;
    background: $color-bg-grey;
    padding: 10px 20px;

    &.is-active {
      color: $color-bg-white-1000;
      background: $color-main-blue;
    }
  }

  &__panel {
    display: none;
    animation: fade 0.25s ease;

    &.is-active {
      display: block;
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// payment-delivery
