.product-catalog {
    padding-top: 100px;

    @include media(992) {
        padding-top: 80px;
    }

    &__head {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin: 60px 0px 80px;
        gap: 40px;

        @include media(992) {
            margin: 40px 0 60px;
            flex-direction: column;
            align-items: flex-start;
        }

        p {
            max-width: 780px;
            width: 100%;
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
        }

        a {
            flex-shrink: 0;

            @include media(576) {
                width: 100%;
            }
        }
    }

    &__content {
        .tab {
            &-head {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                margin-bottom: 40px;

                a {
                    border-radius: 10px;
                    padding: 0 20px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $color-bg-grey;
                    font-size: 16px;
                    transition: .2s ease-in-out all;

                    @include media(992) {
                        font-size: 14px;
                    }

                    &:hover, &.active {
                        background: $color-main-blue;
                        color: #FFF;
                    }
                }
            }

            &-body__item:not(.active) {
                display: none !important;
            }
        }
    }

    .swiper {
        @include media(992) {
            overflow: visible;
        }

        button {
            position: absolute;
            top: 196px;
            z-index: 2;
            border: 1px solid $color-bg-white-1000;
            border-radius: 100px;
            padding: 10px;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            &.swp-prev {
                left: 40px;
            }

            &.swp-next {
                right: 40px;
            }
        }
    }

    &__card {
        @include media(992) {
            width: 273px;
        }

        .main-img {
            height: 400px;
            width: 100%;
            object-fit: cover;
            border-radius: 30px;

            @include media(992) {
                height: 350px;
            }
        }

        &-body {
            padding: 30px 30px 0 15px;
            display: flex;
            flex-direction: column;
            gap: 15px;

            h3 {
                font-weight: 600;
                font-size: 16px;
                line-height: 11px;
                text-transform: uppercase;
            }

            p {
                font-weight: 300;
                font-size: 12px;
                line-height: 160%;
                color: $color-text-grey;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}