.product {
    &-head {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin: 60px 0 80px;
        gap: 40px;

        @include media(992) {
            flex-direction: column;
            align-items: flex-start;
        }

        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            margin: -6px 0;
            max-width: 806px;
            width: 100%;
        }

        .btn-light {
            flex-shrink: 0;

            @include media(576) {
                width: 100%;
            }
        }
    }

    &-block {
        display: flex;
        align-items: stretch;
        gap: 20px;

        @include media(992) {
            flex-direction: column;
            gap: 10px;
        }

        &__left {
            width: 555px;
            flex-shrink: 0;

            @include media(1280) {
                width: 450px;
            }

            @include media(992) {
                width: 100%;
            }

            .swp {
                &-parent {
                    margin-bottom: 20px;

                    @include media(992) {
                        margin-bottom: 10px;
                    }

                    .swiper-slide {
                        height: 600px;

                        @include media(992) {
                            height: 420px;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 30px;
                        }
                    }
                }

                &-child {
                    @include media(992) {
                        overflow: visible;
                    }

                    .swiper-slide {
                        height: 65px;
                        border-radius: 10px;
                        overflow: hidden;

                        @include media(992) {
                            width: 95px;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: $color-bg-grey;
            border-radius: 30px;
            padding: 60px;
            width: 100%;
            gap: 60px;

            @include media(992) {
                padding: 40px 20px;
            }

            &-head {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 40px;

                h3 {
                    font-weight: 600;
                    font-size: 20px;
                    text-transform: uppercase;
                    margin: -6px 0;

                    @include media(992) {
                        font-size: 18px;
                        line-height: 13px;
                        margin: 0;
                    }
                }

                ul {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }

                li {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    width: 100%;
                    border-bottom: 0.5px solid #878787;
                    padding-bottom: 20px;

                    @include media(992) {
                        display: flex;
                        justify-content: space-between;
                    }
                }

                b {
                    font-weight: 500;
                    font-size: 14px;
                    display: block;
                    margin: -4px 0;
                    padding-right: 20px;

                    @include media(992) {
                        padding: 0;
                    }
                }

                span {
                    display: block;
                    margin: -6px 0;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 160%;

                    @include media(992) {
                        text-align: right;
                        padding-left: 18px;
                    }
                }
            }

            &-bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 40px 20px;

                @include media(576) {
                    flex-direction: column;
                    align-items: flex-start;
                }

                .price {
                    font-weight: 500;
                    font-size: 30px;
                    color: $color-main-blue;
                    margin: -7px;

                    @include media(576) {
                        font-size: 20px;
                        margin: 0;
                        line-height: 14px;
                    }
                }

                .btn-blue {
                    padding: 0 41px;

                    @include media(576) {
                        width: 100%;
                    }
                }
            }
        }
    }

    &-text {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 80px 0;

        @include media(992) {
            flex-direction: column;
            margin: 60px 0 40px;
        }

        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            margin: -6px 0;
        }

        h3 {
            font-weight: 600;
            font-size: 16px;
            margin: -4px 0;
        }
    }

    &-content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 80px;
        margin-bottom: 80px;

        @include media(992) {
            flex-direction: column;
            gap: 40px;
            margin-bottom: 40px;
        }

        &__left {
            width: 577px;

            @include media(992) {
                width: 100%;
            }

            .text {
                display: flex;
                flex-direction: column;
                gap: 60px;
                margin-bottom: 80px;

                @include media(992) {
                    gap: 40px;
                    margin-bottom: 40px;
                }

                h3 {
                    font-weight: 500;
                    font-size: 30px;
                    margin: -8px 0;

                    @include media(992) {
                        font-size: 20px;
                        margin: -6px 0;
                    }
                }

                p {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 160%;
                    margin: -6px 0;
                }
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                gap: 40px 20px;
                
                @include media(480) {
                    justify-content: space-between;
                    gap: 20px;
                }
            }

            li {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 95px;

                img {
                    width: 100%;
                    height: auto;
                    aspect-ratio: 1 / 1;
                    border-radius: 50%;
                }

                span {
                    font-weight: 500;
                    font-size: 14px;
                    text-align: center;
                    margin: -4px 0;
                }
            }
        }

        &__right {
            width: 703px;
            border-radius: 40px;

            @include media(1310) {
                width: 600px;
            }
            
            @include media(1200) {
                width: 500px;
            }

            @include media(992) {
                width: 100%;
            }
        }
    }

    &-foot {
        .text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
            margin-bottom: 80px;
            max-width: 1244px;

            @include media(992) {
                margin-bottom: 40px;
            }
        }

        h3 {
            font-weight: 600;
            font-size: 16px;
            margin: -4px 0;
        }

        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            margin: -6px 0;
        }

        img {
            max-width: 1275px;
            width: 100%;
        }
    }

    &-card {
        width: 100%;

        &__swp {
            width: 100%;
            border-radius: 30px;

            @include media(800) {
                border-radius: 20px;
            }

            .swiper {
                &-slide {
                    height: 400px;

                    @include media(800) {
                        height: 205px;
                    }
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .swp-pagination {
                position: absolute;
                left: 0;
                bottom: 20px;
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;

                span {
                    margin: 0 !important;
                    padding: 0 !important;
                    opacity: 1;
                    width: 40px;
                    height: 2px;
                    border-radius: 2px;
                    background: $color-text-lightgrey;

                    &.swiper-pagination-bullet-active {
                        background: $color-main-blue;
                    }
                }
            }
        }

        &__body {
            padding: 30px 30px 0 15px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 30px;

            @include media(800) {
                padding: 20px 0 0 10px;
            }

            &-text {
                display: flex;
                flex-direction: column;
                gap: 15px;
            }

            h3 {
                font-weight: 600;
                font-size: 16px;
                line-height: 160%;
                text-transform: uppercase;
                margin: -7px 0;

                @include media(800) {
                    font-size: 14px;
                    margin: -4px 0;
                }
            }

            p {
                font-weight: 300;
                font-size: 12px;
                line-height: 160%;
                color: $color-text-grey;
                margin: -5px 0;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .price {
                font-weight: 500;
                font-size: 14px;
                margin: -4px 0;
            }

            a {
                font-weight: 400;
                font-size: 14px;
                text-decoration: underline;
                text-decoration-skip-ink: none;
                margin: -4px;
            }
        }
    }
}

.other-product {
    padding-top: 100px;

    &__container {
        position: relative;
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;

        h2 {
            font-weight: 500;
            font-size: 30px;
            margin: -8px 0;
        }

        .btn {
            display: flex;
            align-items: center;
            gap: 20px;

            button {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                flex-shrink: 0;
                border: 1px solid $color-main-blue;
                display: flex;
                align-items: center;
                justify-content: center;

                @include media(992) {
                    position: absolute;
                    z-index: 2;
                    top: 154px;
                    border-color: $color-bg-white-1000;

                    img {
                        filter: brightness(0) invert(1);
                    }
                }
            }

            &-prev {
                @include media(992) {
                    left: 30px;
                }
            }

            &-next {
                @include media(992) {
                    right: 30px;
                }
            }
        }
    }

    &__swp {
        @include media(1400) {
            overflow: visible;
        }
    }

    .product-card {
        @include media(1400) {
            width: 217px;
        }
    }

    .product-card__swp .swiper-slide {
        height: 250px;
    }
}