.review {
    padding: 100px 0;
    background: $color-bg-grey;

    @include media(992) {
        padding: 80px 0;
    }

    &-head {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin: 60px 0 80px;
        gap: 40px;

        @include media(992) {
            flex-direction: column;
            align-items: flex-start;
            margin: 40px 0 60px;
        }

        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            width: 100%;
            max-width: 747px;
        }

        &__right {
            flex-shrink: 0;
            display: flex;
            align-items: flex-end;
            gap: 20px 40px;

            @include media(992) {
                flex-direction: column;
                align-items: flex-start;
            }

            @include media(576) {
                width: 100%;
            }

            .yandex-text {
                @include media(992) {
                    width: 149px;
                }
            }

            .btn-light {
                @include media(576) {
                    width: 100%;
                }
            }
        }
    }

    &-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @include media(992) {
            display: flex;
            flex-direction: column;
            gap: 60px;
        }
    }

    &-swp {
        grid-column: span 2;
        
        .swiper {
            @include media(992) {
                overflow: visible;
            }

            &-wrapper {
                @include media(-992) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 28px 20px;
                }
            }

            &-slide {
                background: $color-bg-white-1000;
                border-radius: 30px;
                padding: 40px 30px;
                min-height: 336px;

                @include media(992) {
                    width: 273px;
                    padding: 30px 20px;
                    border-radius: 25px;
                }

                &:nth-child(3) {
                    background: $color-main-blue;
                    
                    h3, h4, p {
                        color: $color-bg-white-1000;
                    }
                }

                h3 {
                    font-weight: 600;
                    font-size: 20px;
                    margin: -6px 0 9px;

                    @include media(992) {
                        font-size: 16px;
                    }
                }

                h4 {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 160%;
                    color: $color-text-grey;
                    margin-bottom: 28px;

                    @include media(992) {
                        margin-bottom: 18px;
                    }
                }

                p {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 160%;
                    margin-bottom: -6px;

                    @include media(992) {
                        display: -webkit-box;
                        -webkit-line-clamp: 9;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }

    &-card {
        padding: 50px 30px;
        border-radius: 30px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        min-height: 700px;

        @include media(992) {
            padding: 60px 30px 336px;
        }

        .bg-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }
        
        .main-img {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 440px;
            min-width: 440px;
            z-index: -1;
        }

        h3 {
            font-weight: 500;
            font-size: 30px;
            color: $color-bg-white-1000;
            margin-bottom: 20px;

            @include media(992) {
                font-size: 20px;
            }
        }

        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            color: $color-bg-white-1000;
            margin-bottom: 50px;
        }
    }
}