.skill {
    position: relative;
    
    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &-container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;

        @include media(1200) {
            flex-direction: column;
            align-items: flex-start;
            padding: 80px 0;
            gap: 60px;
        }
        
        @include media(992) {
        }
    }

    &-title {
        padding-top: 139px;

        @include media(1200) {
            padding-top: 0;
        }

        span {
            color: $color-bg-white-1000;
        }
    }

    &-list {
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 80px;
        max-width: 670px;
        width: 100%;
        position: relative;
        flex-shrink: 0;

        @include media(1200) {
            max-width: 100%;
            align-items: flex-start;
            gap: 40px;
            padding: 0;
        }

        &::before {
            content: "";
            border-left: 0.20px solid $color-bg-white-100;
            left: 0;
            height: 100%;
            position: absolute;

            @include media(1200) {
                display: none;
            }
        }

        &::after {
            content: "";
            border-left: 0.20px solid $color-bg-white-100;
            left: 345px;
            height: 100%;
            position: absolute;

            @include media(1200) {
                display: none;
            }
        }

        &__item {
            width: 305px;

            @include media(1200) {
                width: 100%;
                padding-bottom: 40px;
                border-bottom: 0.5px solid $color-bg-white-1000;
            }

            &:nth-child(2n-1) {
                transform: translateX(calc(-100% - 40px));

                @include media(1200) {
                    transform: translateX(0);
                }
            }

            h3 {
                font-weight: 600;
                font-size: 18px;
                text-transform: uppercase;
                color: $color-bg-white-1000;
                margin-bottom: 40px;

                @include media(992) {
                    font-size: 16px;
                    margin-bottom: 30px;
                }
            }

            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 160%;
                color: $color-bg-white-1000;
            }
        }
    }
}